@model ImageServiceWebApplication.Models.ImageModel

<div>
    <p>Server Status: </p>
    @if (Model.IsConnected == true)
    {
        <p>Online</p>
    }
    else
    {
        <p>Offline</p>
    }

<h4>Number of pictures in folder: @ViewBag.TotalPics</h4>

<h2>Image View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentsInfo[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentsInfo[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentsInfo[0].ID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.StudentsInfo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
        </tr>
    }

</table>
