@model IEnumerable<ImageServiceWebApplication.Models.Photo>

<h2>Photos</h2>

<head>
    <style>
        .circular-image {
            border-radius: 50%;
        }
    </style>
</head>


<div class="container">
    <div class="row">

        @foreach (var photo in Model)
        {
            <div class="col-xs-18 col-sm-6 col-md-3" style="stroke:blue">
                <div class="thumbnail">
                    <img src="@Url.Content(photo.ImagePath)" alt="" class="img-circle" width="242" height="200">
                    <div class="caption">
                        <h4>@photo.Name</h4>
                        <p>year: @photo.Year Month:@photo.Month</p>
                        <p><a href="@Url.Action("PhotosViewer", new { relativePath = photo.ImagePath})" id="btnView" class="btn btn-info btn-xs" role="button">View</a> <a href="@Url.Action("DeletePhoto", new { relativelPath = photo.ImagePath})" id="btnDelete" class="btn btn-danger btn-xs" role="button">Delete</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
